div.form {
  max-width: 500px;
  margin: 0 auto;
}

div.input {
  text-align: left;
}

div.button {
  text-align: right;
}

h2 {
  text-align: center;
  color: rgb(236 92 87);
  font-family: 'Brandon Grotesque', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.05rem;
  letter-spacing: 1px;
}

label {
  text-align: left;
  padding-top: 1px;
  font-family: 'Brandon Grotesque', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7rem;
  margin-left: 0.4rem;
}

input {
  min-width: 420px;
  min-height: 42px;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 1rem;
  color: rgb(153 153 153);
  border: 1px solid rgb(166 170 169);
  font-family: 'Brandon Grotesque', sans-serif;
  font-style: normal;
  font-weight: normal;
}

::placeholder {
  padding-left: 0.5rem;
}

select {
  min-width: 420px;
  min-height: 42px;
  margin-top: 8px;
  margin-bottom: 7px;
  background-color: rgb(243, 243, 243);
  font-size: 0.75rem;
  border-radius: 4px;
  font-family: AtlasGrotesk, sans-serif;
  font-style: normal;
  font-weight: 300;
  border: 1px solid rgb(166, 170, 169);
}

button {
  background-color: rgb(236 92 87);
  color: white;
  border-radius: 70px;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 95px;
  min-height: 35px;
  border: 1px solid rgb(236 92 87);
  font-size: 1rem;
  font-family: 'Brandon Grotesque', sans-serif;
  font-style: normal;
  font-weight: normal;
}
