.button-on {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(254 249 241);
}

.button-off {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(17 17 17);
}

.light-on {
  border-radius: 50%;
  border: none;
  background-color: rgb(250 234 132);
  height: 150px;
  width: 150px;
  box-shadow: 0 0 10px 1px yellow;
}

.light-off {
  border-radius: 50%;
  border: none;
  background-color: rgb(37 37 37);
  height: 150px;
  width: 150px;
  box-shadow: none;
}
