* {
  font-size: 1.2rem;
}

.row {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}

.column-sixth,
.column-full {
  border: 1px solid;
  margin: 2px;
}

.column-sixth {
  width: 30px;
}

.previous,
.next {
  width: 60px;
}

.banner {
  width: 120px;
}
