body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.container {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: white;
}

.row1 {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(248, 248, 249);
  height: 42px;
  width: 100%;
}

.row2 {
  background-image: url('images/hero.jpg');
  background-position: center;
  background-size: calc(800px * 0.8) 350px;
  height: 305px;
  width: calc(800px * 0.8);
  display: flex;
  align-items: center;
  margin: 35px;
  filter: brightness(85%);
}

.row3 {
  background-color: rgb(250 250 250);
  height: 280px;
  color: rgb(110 110 110);
  width: 100%;
}

.row4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(110 110 110);
  width: calc(800px * 0.8);
  height: 90px;
}

.row5 {
  background-color: rgb(82 83 81);
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 240px;
  color: rgb(255 255 255);
}

.row6 {
  display: flex;
  align-items: center;
  margin: auto 30px;
  width: calc(800px * 0.8);
  height: 80px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  width: calc(800px * 0.4);
  font-size: 0.48rem;
}

.header-left {
  display: flex;
  align-items: center;
  width: calc(800px * 0.4);
}

.canvas-button {
  background-color: white;
  border: none;
}

.header-button {
  font-size: 1.2em;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(160 160 160);
}

.header-button:last-child {
  background-color: rgb(42 68 100);
  height: 25px;
  width: 65px;
  border-radius: 4px;
  margin-top: 6px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 300px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
  margin-top: -20px;
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
}

.content-p {
  font-size: 0.5em;
  line-height: 1.9em;
  margin-top: -10px;
  word-spacing: 0.2em;
}

.content-h2 {
  font-size: 1.4em;
}

.content-button {
  margin-top: 10px;
}

.f2 {
  color: rgb(110 110 110);
  font-size: 0.89em;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: -5px;
  text-decoration: none;
}

.f2-2 {
  margin: 20px;
}

.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations-row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  margin-top: 12px;
  font-family: 'Tiempos Headline', serif;
  font-style: normal;
  font-weight: normal;
}

.locations-row-2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-family: Avenir, sans-serif;
}

.locations-p {
  font-size: 0.58em;
  text-align: center;
  margin-top: -10px;
  line-height: 17px;
}

.locations-h3 {
  margin-top: 20px;
}

.lr2-locations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 50%;
  font-size: 0.68em;
  width: 115px;
  word-spacing: 0.1em;
  margin: -2px;
}

.header-a {
  text-decoration: none;
}

.header-a:last-child {
  color: rgb(195 202 211);
}

.footer-a {
  text-decoration: none;
  color: rgb(255 255 255);
}

h2 {
  margin-top: 20px;
}

img {
  height: 15px;
}

.get-started {
  border: none;
  border-radius: 2px;
  background-color: rgb(42 68 100);
  color: rgb(254 254 254);
  height: 30px;
  width: 110px;
  font-size: 0.7em;
}

.learn-more {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
}

.lm-p {
  font-size: 0.6em;
  margin-top: -10px;
}

.lm-h3 {
  font-size: 1.08em;
}

.r4lm-l {
  margin-top: -10px;
}

.address {
  font-size: 0.6em;
  line-height: 15px;
}

.cf-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.canvas-logo {
  width: 150px;
  margin-bottom: 10px;
}

.cf-1,
.cf-2,
.cf-3 {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: lighter;
}

.cf-2,
.cf-3 {
  margin-top: 45px;
  font-size: 0.7em;
}
